html, body {
  margin: 0;
}

body {
  font-size: 28px;
  background-color: white;
}

header {
  font-size: 2em;
  height: 3em;
  background-color: white;
  background-image: url(LOGO.png);
  background-repeat: no-repeat;
  background-size: contain;
}
header h1 {
  text-align: center;
  margin: 0;
}

main {
  min-height: 100%;
  background-color: white;
}

footer {
 height: 5vh;
 background-color: white;

}
