html, body {
  margin: 0;
}

body {
  font-size: 28px;
  background-color: white;
}

header {
  font-size: 2em;
  height: 3em;
  background-color: white;
  background-image: url(LOGO.png);
  background-repeat: no-repeat;
  background-size: contain;
}
header h1 {
  text-align: center;
  margin: 0;
}

main {
  min-height: 100%;
  background-color: white;
}

main h1 {
  text-align: center;
}

.playlists {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 10vw;
}

.playlists a {
  width: 30vw;
  height: 30vw;
  border: 1px solid black;
  margin: 3vw 0;
  display: grid;
  place-items: center center;
  font-size: 2vw;
}


footer {
 height: 5vh;
 background-color: white;

}
